* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: medium;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-left: 1rem;
  background-color: rgb(104, 183, 223);
  box-shadow: 5px 5px 5px 5px #808080;
  color: rgba(84, 88, 104, 0.945);
}
header > ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header > ul li {
  margin-right: 10px;
}
header > ul li:hover {
  cursor: pointer;
}

.auth-link:hover {
  cursor: pointer;
}

header > ul img {
  height: 2.5rem;
  border-radius: 50%;
}

h1 {
  display: flex;
  justify-content: center;
}

.HomePage > img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

OneWheel > img {
  display: flex;
  justify-content: center;
}

p {
  font-size: 1.5rem;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
section > article {
  display: flex;
  justify-content: space-between;
  min-width: 2rem;
  color: white;
  margin: 0.1rem;
  background-color: rgb(104, 183, 223);
}
article > div {
  padding: 0.5rem;
}
article > div:nth-child(2) {
  width: 2rem;
  background-color: rgba(84, 88, 104, 0.945);
  text-align: center;
}
label {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
label span {
  font-size: 1rem;
  color: rgba(84, 88, 104, 0.945);
  width: 5rem;
}
input,
select {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem;
  color: rgba(84, 88, 104, 0.945);
  border: 3px solid rgb(104, 183, 223);
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
}
button {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0 0 auto;
  padding: 0.4rem;
  background-color: red;
  color: white;
  border: none;
  outline: none;
}
button:hover {
  color: white;
  background-color: #737495;
}
